
#content {
  display: flex;
  flex-direction: row;
}

#scoretitle-container {
  display: flex;
  flex-direction: row;
}

.refresh-button {
  height: 20px;
  width: 90px;
  margin-top: 25px;
  border: 2px solid dimgrey;
  box-shadow: dimgrey 5px 5px 2px;
  background-color: inherit !important;
  margin-left: auto;
  font-family: inherit;
  font-size: medium;
  font-weight: bold;
  color: rgb(8, 8, 8);
}

#form-input {
  display: flex;
  flex-direction: column;
}

#form {
  margin-left: 20%;
}

.title {
  font-size: 50px;
  margin-left: 50px;
}

.score-title {
  margin-left: 95px;
}

.player-name {
  width: 290px;
  height: 25px;
  margin-top: 20px;
}

.player-score {
  width: 290px;
  height: 25px;
  margin-top: 30px;
}

.submit-button {
  margin-top: 20px;
  width: 70px;
  height: 20px;
  justify-items: flex-end;
  border: 2px solid dimgrey;
  box-shadow: dimgrey 5px 5px 2px;
  background-color: inherit !important;
  margin-left: auto;
  font-family: inherit;
  font-size: medium;
  font-weight: bold;
  color: rgb(8, 8, 8);
}

#button {
  margin-left: 76%;
}

#footer {
  height: 15px;
  margin-top: 15%;
  border: 2px solid dimgrey;
  box-shadow: dimgrey 5px 5px 2px;
  background-color: inherit !important;
}

li {
  list-style-type: none;
  height: 30px;
  width: 400px;
  margin-left: 14%;
  border: 1px solid darkgray;
  box-shadow: dimgrey 7px 7px 2px;
}

li:nth-child(1n) {
  background-color: white;
}

li:nth-child(2n) {
  background-color: lightgray;
}
